VITE_API_BASE_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyCTcN2NRDaAImmsnwwIW74hlHIKbGxtN5o
VITE_FIREBASE_AUTH_DOMAIN=codexcrue.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=codexcrue
VITE_FIREBASE_STORAGE_BUCKET=codexcrue.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=202634696631
VITE_FIREBASE_APP_ID=1:202634696631:web:089b26d8680fc6da8a3a32
VITE_FIREBASE_MEASUREMENT_ID=G-Z9907PMRM1
